/* nascondo le frecce dell'input "numero" (non funziona x firefox) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ========================= header ========================= */
#Header {
    background-color: var(--C3);
    border-bottom: solid 1.5px var(--C2);
}
/* ========================= content ========================= */
#FirstScreenBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../Images/ContattaciBG.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#FirstScreen {
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--Header) - var(--Footer));
    font-size: 30px;
    font-weight: bold;
    /* display: grid;
    justify-content: left;
    align-items: center;
    grid-template-columns: auto auto; */
    padding-top: var(--Header);
    gap: 200px;
}
#InfoContainer {
    background-color: #ffffffa2;
    z-index: 1;
    padding: 10px 30px 10px 40px;
    border-radius: 0 8px 8px 0;
    border: solid 2px #ffffffa2;
    border-left: none;
    backdrop-filter: blur(5px);
    /* position: absolute;
    left: 0;
    top: calc(50% + var(--Header) / 1.6);
    transform: translate(0, -50%); */
}
/* #InfoContainer::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.76), 10%, transparent);
} */
#Info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: text;
}
#Info i, #Info p {
    font-size: 13px;
    color: var(--C3);
}
#Info p {
    margin: 5px 0;
}
#ContactForm {
    background-color: #ffffffa2;
    backdrop-filter: blur(5px);
    width: 480px;
    margin-top: -10px;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    border: solid 2px #ffffffa2;
    /* position: absolute;
    left: 50%;
    top: calc(50% + var(--Header) / 1.6);
    transform: translate(-50%, -50%); */
}
/* #ContactForm::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.76), 10%, transparent);
} */
#ContactForm h3 {
    margin: 0;
    margin-bottom: 15px;
    font-family: Outfit;
}
#Campi {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    gap: 10px 20px;
}
input, textarea {
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: solid 1px var(--C3);
    padding: 3px;
    font-size: 15px;
    font-family: Outfit;
    background-color: transparent;
    color: var(--C2);
}
input:focus, textarea:focus {
    outline: solid 2px var(--C3);
}
.campo  {
    width: 100%;
}
#ContactForm p {
    font-size: 20px;
    margin: 0;
    margin-bottom: -5px;
    color: var(--C3);
}
.campo.mex {
    grid-row-start: 1;
    grid-row-end: 3;
}
.campo.mex textarea {
    height: 122%;
    margin-top: 13px;
    resize: none; 
}
.send {
    margin-top: 15px;
    width: 100%;
    display: inline-flex;
}
.send input {
    padding: 5px;
    font-size: 17px;
    font-weight: 700;
    background-color: var(--C1);
    color: var(--C2);
    transition: .2s;
    border: solid 2px #0797da;
    outline: none;
    width: 100px;
    margin-right: 20px;
}
.send input:hover {
    box-shadow: 3px 3px #0797da;
    transform: translate(-3px, -3px);
}
.send input:active {
    box-shadow: 0 0 #0797da;
    transform: translate(0);
}
/* ========================= media ========================= */
@media (min-width: 850px) {
    /* full screen quando non si scorre */
    #Header, #ContentContainer {
        width: 100vw;
    }
    #footer {
        width: calc(100vw - 10px);
    }
}
@media (max-width: 850px) {
    /* impilo info e contact form */
    #FirstScreen {
        display: flex;
        align-items: center;
        gap: 50px;
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    #InfoContainer {
        border: none;
        width: calc(100% - 20px);
        padding: 0 0 0 20px;
        border-radius: 0;
        border-top: solid 2px #ffffffa2;
    }
}
@media (max-width: 590px) {
    #ContactForm {
        width: 270px;
    }
    .campo.mex textarea {
        height: 130%;
    }
}
@media (min-width: 850px) {
    #ContactForm, #InfoContainer {
        position: absolute;
        left: 50%;
        top: calc(50% + var(--Header) / 1.6);
        transform: translate(-50%, -50%);
    }
    #InfoContainer {
        left: 0;
        transform: translate(0, -50%);
    }
}
@media (max-width: 1120px) {
    /* sposto a destra il contact form */
    #ContactForm {
        left: 65%;
    }
}