html {
    overflow-y: hidden;
}
/* nascondo le frecce dell'input "numero" (non funziona x firefox) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ========================= header ========================= */
#Header {
    background-color: var(--C3);
}
/* ========================= content ========================= */
#FirstScreen {
    position: relative;
    width: 100%;
    /* height: calc(100vh - var(--Header) - var(--Footer)); */
    font-size: 30px;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    padding-top: var(--Header);
    gap: 100px;
}
#Info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: text;
}
#Info i, #Info p {
    font-size: 13px;
}
#Info p {
    margin: 5px 0;
}
#Info img {
    width: 350px;
    margin-top: -60px;
}
#ContactForm {
    /* background-color: rgb(230, 230, 230); */
    width: 480px;
    height: 310px;
    margin-top: -10px;
    padding: 20px;
    gap: 20px;
    position: relative;
}
#ContactForm::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 5px;
    /*background-image: linear-gradient(transparent, blue);*/
}
#ContactForm h3 {
    margin: 0;
    margin-bottom: 15px;
    font-family: Outfit;
}
#Campi {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    gap: 10px 20px;
}
input, textarea {
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: solid 1px lightgray;
    padding: 3px;
    font-size: 15px;
    font-family: Outfit;
    background-color: transparent;
    color: var(--C2);
}
input:focus, textarea:focus {
    outline: solid 2px var(--C1);
}
.campo  {
    width: 100%;
}
#ContactForm p {
    font-size: 20px;
    margin: 0;
    margin-bottom: -5px;
}
.campo.mex {
    grid-row-start: 1;
    grid-row-end: 3;
}
.campo.mex textarea {
    height: 122%;
    margin-top: 13px;
    resize: none; 
}
.send {
    margin-top: 15px;
    width: 100px;
}
.send input {
    padding: 5px;
    font-size: 17px;
    font-weight: 700;
    background-color: var(--C1);
    color: var(--C2);
    transition: .2s;
    border: solid 2px #0797da;
    outline: none;
}
.send input:hover {
    box-shadow: 3px 3px #0797da;
    transform: translate(-3px, -3px);
}
.send input:active {
    box-shadow: 0 0 #0797da;
    transform: translate(0);
}
/* ========================= media ========================= */
@media (max-width: 1010px) {
    #FirstScreen {
        gap: 50px;
    }
    #Info img {
        width: 250px;
        margin-top: -30px;
    }
}
@media (max-width: 850px) {
    #Info img {
        display: none;
    }
    #Info {
        margin-bottom: 145px;
    }
    #FirstScreen {
        gap: 20px;
    }
}
@media (max-width: 770px) {
    #Container {
        overflow-y: scroll;
    }
    #FirstScreen {
        padding-top: calc(var(--Header) + 15px);
        padding-bottom: 40px;
        grid-template-columns: auto;
    }
    html {
        overflow-y: auto;
    }
    #Info {
        margin-bottom: 0;
        grid-row: 2;
    }
    #ContactForm {
        padding-left: 0;
        grid-row: 1;
    }
}
@media (max-width: 526px) {
    #FirstScreen {
        gap: 80px;
    }
    #ContactForm {
        width: 350px;
    }
    .campo.mex textarea {
        height: 135%;
    }
}
@media (max-width: 400px) {
    #ContactForm {
        width: 290px;
    }
    .campo.mex textarea {
        height: 130%;
    }
}