/* ========================= content ========================= */
#FirstScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#FirstScreenBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("Images/Back.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 40px;
}
#BlackCover {
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: var(--C3);
    opacity: 0;
}
#UnderImg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - var(--Header) - var(--Footer));
    gap: 50px;
}
.HomeItem {
    position: relative;
    width: calc(100% - 200px);
    max-width: 1000px;
}
#ChiSiamoHome {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#ServiziImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* ↓ DA TOGLIERE SE AGGIUNGO ALTRO ↓ */
    margin-bottom: 50px;
}
#GalleriaServizi {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, calc((100% - (20px * 2))/3));
    grid-template-rows: 70px auto;
    gap: 20px;
}
#ServiziImg h1, #ServiziImg p{
    grid-column: 1 / span 3;
}
.ImgBox {
    position: relative;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s;
    outline: solid 0px var(--C3);
}
.ImgBox a {
    width: 100%;
    background-color: #13131300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: teko;
    box-shadow: inset 0px 0px lightgrey;
    transition: all .4s;
}
.ImgBox a:hover {
    /* box-shadow: inset 0px 6px var(--C1), inset 0px -6px var(--C1); */
    color: var(--C1);
    text-shadow: 0 0 10px var(--C3);
}
.ImgBox:hover {
    outline: solid 2px var(--C1);
    box-shadow: 0 0 8px var(--C1);
    border-radius: 2px;
}
.ImgBox.img1 {
    background-image: url(Images/HomeSV/a.JPG);
}
.ImgBox.img2 {
    background-image: url(Images/HomeSV/b.jpg);
}
.ImgBox.img3 {
    background-image: url(Images/HomeSV/c.JPG);
}
.ImgBox.img4 {
    background-image: url(Images/HomeSV/d.JPG);
}
.ImgBox.img5 {
    background-image: url(Images/HomeSV/e.JPG);
}
.ImgBox.img6 {
    background-image: url(Images/HomeSV/f.JPG);
}
/* ========================= media ========================= */
/* Rimpicciolisco Img Servizi */
@media (max-width: 950px) {
    #GalleriaServizi {
        grid-template-columns: repeat(2, calc((100% - 10px)/2));
        gap: 10px
    }
    #ServiziImg h1, #ServiziImg p {
        grid-column: 1 / span 2;
    }
}
@media (max-width: 650px) {
    .HomeItem {
        width: calc(100% - 100px);
    }
}
@media (max-width: 540px) {
    #GalleriaServizi {
        grid-template-columns: repeat(1, calc(100%));
    }
    #ServiziImg h1, #ServiziImg p {
        grid-column: 1;
    }
    .HomeItem {
        width: calc(100% - 200px);
    }
}
@media (max-width: 431px) {
    .HomeItem {
        width: calc(100% - 90px);
    }
}