/* ========================= general ========================= */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
canvas {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    background-color: var(--C3);
    font-family: outfit;
    background-image: url("./Images/Back.svg");
}
:root {
    --C1: #32567a;
    --C2: #0c2d58;
    --C2t: #0c2d5800;
    --C3: #fff;
    --C4: #131313;
    --SoftShadow: rgba(231, 231, 231, 0.055);
    --Scrollbar: 17px;
    --Header: 70px;
    --Footer: 100px;
}
/* ========================= main page ========================= */
#Container {
    overflow-y: scroll;
    height: 100vh;
}
.Pointer {
    cursor: pointer;
}
/* ========================= header ========================= */
#Header {
    position: fixed;
    background-color: var(--C1);
    width: calc(100% - var(--Scrollbar));
    height: var(--Header);
    z-index: 2;
    box-shadow: 0 5px 5px var(--SoftShadow);
}
#InnerHeader {
    display: table;
    width: 100%;
}
.OriginalLogo {
    height: calc(var(--Header) - 10px);
    padding: 5px;
}
.navigation {
    display: flex;
    align-items: center;
    float: right;
    height: var(--Header);
    color: var(--C3);
    margin: 0;
}
.navigation a {
    height: 20px;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a li {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    border-bottom: 2px var(--C2t) solid;
    transition: .5s;
    white-space: nowrap;
}
.navigation a li:hover, #NavigationMenu a li:hover {
    border-color: var(--C2);
}
.navigation a li.Active, #NavigationMenu a li.Active {
    border-color: var(--C2);
}
#MenuBtn {
    width: 124.33px;
    float: right;
    height: 190px;
    display: none;
    align-items: center;
    flex-direction: column;
}
.checkBtn {
    margin: calc((var(--Header) - 21px) / 2) 0;
}
.checkBtn i {
    font-size: 20px;
    color: var(--C3);
}
#check {
    display: none;
}
#check:checked ~ #NavigationMenu {
    right: 0;
}
#NavigationMenu {
    gap: 10px;
    padding: 5px 25px;
    background-color: var(--C1);
    position: relative;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    flex-grow: 0;
    transition: .3s;
    right: calc(-100% - 17px);
    box-shadow: 0 -5px 5px var(--SoftShadow);
}
#NavigationMenu a li {
    border-bottom: 2px var(--C2t) solid;
    transition: .5s;
    white-space: nowrap;
    width: fit-content;
    color: var(--C3);
}
/* ========================= content ========================= */
#ContentContainer {
    width: 100%;
    margin-top: var(--Header);
    min-height: calc(100vh - var(--Header) - var(--Footer));
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
#ContentContainer h1 {
    color: var(--C1);
    font-size: 35px;
    /*text-decoration: underline overline var(--C1);*/
}
#ContentContainer p {
    color: var(--C4);
    font-weight: 500;
    font-size: 17px;
}
.Content {
    padding: 10px;
    min-height: fit-content;
}
.A {
    display: flex;
    align-items: center;
}
.A img {
    width: 100%;
    border-radius: 4px;
}
/* ========================= footer ========================= */
#footer {
    padding-left: 10px;
    height: var(--Footer);
    background-color: var(--C1);
}
#f1 {
    display: inline-flex;
    padding: 5px;
}
#footer div img {
    vertical-align: middle;
    height: calc(var(--Footer) - 10px);
}
/* ========================= media ========================= */
@media (max-width: 685px) {    
    .navigation a {
        padding: 0px 10px;
    }
}
@media (max-width: 605px) {
    .navigation{
        display: none;
    }
    #MenuBtn {
        display: flex;
    }
}
@media (max-width: 675px) {
    #ContentContainer {
        grid-template-columns: auto;
    }
}