/* ========================= content ========================= */
#FirstScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#FirstScreenBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("Images/Back.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 40px;
}
#BlackCover {
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: var(--C3);
    opacity: 0;
}
#UnderImg {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - var(--Header) - var(--Footer));
    gap: 50px;
}
#ServiziImg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    background-color: var(--C3);
    /* ↓ DA TOGLIERE SE AGGIUNGO ALTRO ↓ */
    margin-bottom: 50px;
}
#ServiziImg h1 {
    grid-column: 1 / span 3;
}
#GalleriaServizi {
    position: relative;
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 70px auto;
    gap: 35px;
}
.ImgBox {
    position: relative;
    max-width: 100%;
    width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ImgBox a {
    width: 100%;
    background-color: #13131300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: teko;
    box-shadow: inset 0px 0px lightgrey;
    transition: .4s;
}
.ImgBox a:hover {
    /* box-shadow: inset 0px 6px var(--C1), inset 0px -6px var(--C1); */
    color: var(--C1);
}
.ImgBox.img1 {
    background-image: url(Images/HomeSV/a.JPG);
}
.ImgBox.img2 {
    background-image: url(Images/HomeSV/b.JPG);
}
.ImgBox.img3 {
    background-image: url(Images/HomeSV/c.JPG);
}
.ImgBox.img4 {
    background-image: url(Images/HomeSV/d.JPG);
}
.ImgBox.img5 {
    background-image: url(Images/HomeSV/e.JPG);
}
.ImgBox.img6 {
    background-image: url(Images/HomeSV/f.JPG);
}
/* ========================= media ========================= */
/* Rimpicciolisco Img Servizi */
@media (max-width: 1010px) {
    .ImgBox {
        width: 220px;
    }
    .ImgBox div {
        font-size: 35px;
    }
    #GalleriaServizi {
        gap: 20px;
    }
}
@media (max-width: 745px) {
    #ServiziImg h1 {
        grid-column: 1 / span 2;
    }
    #GalleriaServizi {
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .ImgBox {
        width: 220px;
    }
    .ImgBox div {
        font-size: 35px;
    }
}
@media (max-width: 520px) {
    #ServiziImg {
        width: calc(100% - 50px);
    }
    #ServiziImg h1 {
        grid-column: 1;
    }
    #GalleriaServizi {
        grid-template-columns: auto;
        gap: 30px;
    }
    .ImgBox {
        width: 300px;
    }
    .ImgBox div {
        font-size: 50px;
    }
}